<div class="form-header">
  <h2>{{ editTitle }}</h2>
</div>
<form [formGroup]="nodeForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content fxLayout="column">
    <mat-form-field class="input-75">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="nodeForm.get('name').hasError('nameTaken')">Name must be unique</mat-error>
    </mat-form-field>
    <mat-form-field class="input-75">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description of this node" formControlName="description" required>
    </mat-form-field>
<!--     <mat-form-field class="input-75">
      <mat-label>Node Type</mat-label>
      <mat-select formControlName="nodeType">
        <mat-option *ngFor="let nodeType of nodeTypes" [value]="nodeType">
          {{nodeType}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field *ngIf="nodeType !== 'LinkPoint'" class="input-75">
      <mat-label>Node is preceded by</mat-label>
      <mat-select formControlName="predecessors" multiple [compareWith]="comparer">
        <mat-option *ngFor="let node of nodeSelectList" [value]="node">
          {{node.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-75">
      <mat-label>Timer Duration in Minutes</mat-label>
      <input matInput type="number" placeholder="0" formControlName="timerDurationMinutes">
    </mat-form-field>
    <mat-form-field class="input-75">
      <mat-label>Timer Trigger</mat-label>
      <mat-select formControlName="timerTrigger">
        <mat-option *ngFor="let node of nodeSelectList" [value]="node">
          {{node.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <app-actionnode-edit *ngIf="nodeType==='Action'"
    (nodeDescription)="getActionDescription($event)"
    [parentForm]=nodeForm
    [node]=node></app-actionnode-edit>
  <app-milestone-edit *ngIf="nodeType==='Milestone'"
    [parentForm]=nodeForm
    [node]=node></app-milestone-edit>
  <app-linkpoint-edit *ngIf="nodeType==='LinkPoint'"
    [parentForm]=nodeForm
    [node]=node></app-linkpoint-edit>

  </mat-dialog-content>
<mat-dialog-actions class="form-footer">
  <button mat-raised-button color="accent" type="submit">Save</button>
  <button mat-raised-button color="primary" type="button" (click)="onClose()">Cancel</button>
</mat-dialog-actions>
</form>
