.red-border {
  border: 1px solid red;
}

.blue-border {
  border: 1px solid blue;
}

.plan-toolbar {
  height: 30px;
  padding-left: 20px;
  font-size: small;
  background-color: #ede7e3;
}

button {
  background-color: #ede7e3;
  color: #404040;
  height: 30px;
}

.template-details {
  margin-left: 45px;
}
