.red-border {
  border: 1px solid red;
}

.blue-border {
  border: 1px solid blue;
}

.plan-toolbar {
  height: 30px;
  padding-left: 15px;
  font-size: small;
  background-color: #ede7e3;
/*   background-color: #7a9acb; */
/*   border-top: 1px solid grey;
  border-bottom: 1px solid grey;
 */}

button {
/*   background-color: #7a9acb; */
  background-color: #ede7e3;
  color: #404040;
  height: 30px;
}
