<section class="page-layout" fxLayout="column">


  <!-- Header with Title and menu button -->
  <div fxLayout="column">
      <!-- Top row of header -->
    <div class="page-header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1 class="mat-h1">{{ releasePlan?.name }}</h1>
      <h3 class="mat-h3">{{ version }}</h3>
      <mat-slide-toggle (change)="onChangeVersion($event)" >{{versionSelectString}}</mat-slide-toggle>
    </div>

    <mat-toolbar class="plan-toolbar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <div fxLayout="row">
        <a fxLayoutAlign="start center"><mat-icon>save</mat-icon>save</a>
      </div>
      <div fxLayout="row">
        <a fxLayoutAlign="start center"><mat-icon>refresh</mat-icon>refresh</a>
      </div>
      <div fxLayout="row">
        <a fxLayoutAlign="start center"><mat-icon>cancel</mat-icon>reset</a>
      </div>
      <div (click)="onChangeView()" fxLayout="row">
        <a fxLayoutAlign="start center" *ngIf="nodeView==='graph'"><mat-icon>view_list</mat-icon>view</a>
        <a fxLayoutAlign="start center" *ngIf="nodeView==='list'"><mat-icon>satellite</mat-icon>view</a>
      </div>
    </mat-toolbar>
    </div>

  <div *ngIf="nodeView==='graph'">
   <app-plan-graph-view (nodeAction)="onNodeAction($event)"></app-plan-graph-view>
  </div>
  <div *ngIf="nodeView==='list'">
   <app-plan-list-view  (nodeAction)="onNodeAction($event)"></app-plan-list-view>
  </div>
</section>
