<div class="view-header" fxLayout="row" fxLayoutAlign="space-between center">
  <div>Plan Graph View</div>
  <div fxLayout="row" fxLayoutGap="10px">
    <button mat-raised-button matTooltip="Add a milestone" (click)="onAddPlanNode('Milestone')">
      <mat-icon>add</mat-icon>
      Milestone
    </button>
    <button mat-raised-button matTooltip="Add an action" (click)="onAddPlanNode('Action')">
      <mat-icon>add</mat-icon>
      Action
    </button>
    <button mat-raised-button matTooltip="Add a LinkPoint" (click)="onAddPlanNode('LinkPoint')">
      <mat-icon>add</mat-icon>
      LinkPoint
    </button>
  </div>
</div>

  <mat-card class="card-content" fxLayout="row">
    <div *ngIf="onReady" class="graph-frame">
      <ngx-graph
        [nodeWidth]="150"
        [nodeHeight]="100"
        [layout]="layout" [links]=links [nodes]=nodes [curve]="curve"
        [draggingEnabled]="draggingEnabled" [panningEnabled]="panningEnabled" [enableZoom]="zoomEnabled"
        [zoomSpeed]="zoomSpeed" [minZoomLevel]="minZoomLevel" [maxZoomLevel]="maxZoomLevel" [panOnZoom]="panOnZoom"
        [autoZoom]="autoZoom" [autoCenter]="autoCenter" [update$]="update$" [center$]="center$" [zoomToFit$]="zoomToFit$">
        <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #nodeTemplate let-node>

          <!-- Milestone nodes -->
          <svg:g
            *ngIf="node.data.node?.nodeType==='Milestone'"
            [matTooltip]="'Milestone: ' + node.data.node?.name"
            mat-button
            [matMenuTriggerFor]="clickMenu"
            class="node">
          <svg:rect class="node-rect" [attr.width]=150 [attr.height]=100 [attr.rx]=5 [attr.ry]=5
            [attr.fill]="milestoneBackground" />
          <svg:text dominant-baseline="middle" text-anchor="middle" [attr.fill]=milestoneText [attr.x]="node.dimension.width / 2"
            [attr.y]="node.dimension.height / 2">{{ node.label | slice:0:17 }}</svg:text>
          </svg:g>

          <!-- Milestone Link nodes -->
<!--           <svg:g
            *ngIf="node.data.node?.nodeType==='LinkPoint'"
            [matTooltip]="'Linkpoint: ' + node.data.node?.name"
            class="node"
            mat-button
            [matMenuTriggerFor]="clickMenu">

          <svg:rect class="node-rect" [attr.width]=150 [attr.height]=55 [attr.rx]=5 [attr.ry]=5
            [attr.fill]="linkPointBackground" />
          <svg:text dominant-baseline="middle" text-anchor="middle" [attr.fill]=linkPointText [attr.x]="node.dimension.width / 2"
            [attr.y]="node.dimension.height / 2">{{ node.label | slice:0:17 }}</svg:text>
          </svg:g> -->

          <svg:g *ngIf="node.data.node.nodeType==='LinkPoint'"
            [matTooltip]="'Linkpoint: ' + node.data.node?.name"
            class="node"
            mat-button
            [matMenuTriggerFor]="clickMenu">
            <svg:polygon class="node-rect" [attr.width]=150 [attr.height]=100 [attr.points]="linkPointDef"
              [attr.fill]="milestoneBackground" />
            <svg:text dominant-baseline="middle" text-anchor="middle" [attr.fill]=milestoneText
              [attr.x]="node.dimension.width / 2" [attr.y]="node.dimension.height / 2">{{ node.label | slice:0:17 }}</svg:text>
          </svg:g>

          <!-- Task nodes -->
          <svg:g
            *ngIf="node.data.node.nodeType==='Action'"
            [matTooltip]="'Action: ' + node.data.node?.name"
            class="node"
            mat-button
            [matMenuTriggerFor]="clickMenu">

            <svg:ellipse class="node-ellipse" [attr.width]=150 [attr.height]=65 [attr.cx]="node.dimension.width / 2"
              [attr.cy]="node.dimension.height / 2" [attr.rx]=65 [attr.ry]=30 [attr.fill]="actionBackground" />
            <svg:text dominant-baseline="middle" text-anchor="middle" [attr.fill]="actionText" [attr.x]="node.dimension.width / 2"
              [attr.y]="node.dimension.height / 2">{{ node.label | slice:0:17 }}</svg:text>
          </svg:g>

          <!-- Menu for nodes -->
          <mat-menu #clickMenu="matMenu">
            <button mat-menu-item (click)="onEditNode(node.data.node)">Edit</button>
            <button mat-menu-item (click)="onAddLine(node.data.node, 'from')">Add Line From Here</button>
            <button mat-menu-item (click)="onAddLine(node.data.node, 'to')">Add Line to Here</button>
            <button mat-menu-item (click)="onDeleteNode(node.data.node)">Delete</button>
          </mat-menu>
        </ng-template>

        <!-- Template for lines -->
        <ng-template #linkTemplate let-link>
          <svg:g
            class="edge"
            mat-button
            [matMenuTriggerFor]="lineMenu">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
            </svg:path>
          </svg:g>

          <mat-menu #lineMenu="matMenu">
            <button mat-menu-item (click)="onDelLine(link.source, link.target)">Delete</button>
          </mat-menu>

        </ng-template>
      </ngx-graph>
    </div>
  </mat-card>

