<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="24px" class="sidebar">
  <div class="sidebar-title">Release Plan</div>
  <mat-divider></mat-divider>
  <a class="menu-choices" matTooltip="Edit details like description">Edit Plan Details</a>
  <a class="menu-choices" matTooltip="Verify that plan has no circular dependencies">Verify Plan</a>
  <a class="menu-choices" matTooltip="Verify plan and commit working plan to master">Commit Plan</a>
  <a class="menu-choices" matTooltip="View verification reports">View Reports</a>
  <a class="menu-choices" matTooltip="Return to the product dashboard" (click)="onReturnToProduct()">Return to
      Product Dashboard</a>

</div>
