<!-- Toolbar -->
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between">
  <div>Welcome to Marco</div>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/products">Products</button>
  <button mat-menu-item routerLink="/products/summary">Summary</button>
  <button mat-menu-item routerLink="/deployments">Deployments</button>
  <button mat-menu-item routerLink="/about">About</button>
</mat-menu>

<router-outlet></router-outlet>
