<div class="page-wrapper">
<!-- Toolbar -->
<mat-toolbar class="menu-ribbon" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="header-logo" fxLayout="row" fxLayoutAlign="space-between center">
    <img src="assets/images/Corgi.png" height="50" width="82">
    <div>Welcome to {{ title }}</div>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/products">Products</button>
  <button mat-menu-item routerLink="/deployments">Deployments</button>
  <button mat-menu-item routerLink="/about">About</button>
</mat-menu>

<router-outlet></router-outlet>
</div>
