<div fxLayout="column" fxFlex="0 1" class="page-wrapper">
<!-- Toolbar -->
<div class="menu-ribbon" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="header-logo" fxLayout="row" fxLayoutAlign="space-between center">
    <img src="assets/images/Corgi.png" height="50" width="82">
    <h1>Welcome to {{ title }}</h1>
  </div>
<!--   <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button> -->
</div>

<!-- <mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/products">Products</button>
  <button mat-menu-item routerLink="/deployments">Deployments</button>
  <button mat-menu-item routerLink="/about">About</button>
</mat-menu> -->

  <div fxLayout="row">
    <router-outlet name='sidebar'></router-outlet>
    <router-outlet></router-outlet>
  </div>
</div>
