<div *ngIf="onReady" [formGroup]="actionNodeForm">
  <!-- Fields for when nodeType is task -->
    <mat-form-field class="input-75">
      <mat-label>Action Type</mat-label>
      <mat-select formControlName="actionType">
        <mat-option *ngFor="let actionType of actionTypes" comparer="comparer" [value]="actionType">
          {{actionType.description}}
        </mat-option>
      </mat-select>
      <input matInput placeholder="" formControlName="actionType">
    </mat-form-field>
    <div fxLayout="column" formArrayName="inputs">
    <div *ngFor="let input of inputsArray.controls; let i = index">
      <div class="input-100" fxLayout="row" fxLayoutGap="10px" [formGroupName]="i">
        <div fxLayout="row" class="inputs-field">Name: {{currentActionType.inputs[i].name | slice:0:15 }}</div>
        <div fxLayout="row" class="inputs-field">Validation: {{currentActionType.inputs[i].validation | slice:0:5}}</div>
        <input placeholder="Value Reference" formControlName="valueReference">
      </div>
    </div>
  </div>
</div>
