<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="24px" class="sidebar">
  <div fxLayout="row" class="page-header" fxLayoutAlign="space-between center">
    <h1 class="mat-h1">Sections</h1>
  </div>
<p>This is the main sidebar</p>
  <a class="menu-choices" [routerLink]="[{ outlets: { primary: ['products'], sidebar: ['productssidebar'] } }]">Products</a>
  <a class="menu-choices" routerLink="/deployments">Deployments</a>
  <a class="menu-choices" routerLink="/about">About</a>
</div>
