.page-layout {
  height: 92vh;
  width: 83vw;
  background-color: #ede7e3;
}

.page-header {
  width: 83vw;
  height: 65px;
  padding-left: 45px;
  padding-right: 45px;

}

.card-content {
  background-color: white;
  height: 550px;
  margin: 30px;
}

.half-card-content {
  background-color: white;
  height: 350px;
  margin: 10px;
}

.table-styling {
  min-width: 100%;
}

.icon-color {
  color: #0f2649;
}
