.page-layout {
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  background-color: #F7F8FC;
}

.page-header {
  height: 100px;
  min-width: 100%;
  padding-left: 64px;
  padding-right: 64px;
}

.card-content {
  background-color: white;
  margin: 64px;
}

.table-styling {
  min-width: 100%;
}
