.sidebar {
  width: 15vw;
  height: 92vh;

  background: white;
  border: 1px solid grey;
}

.menu-choices {
  font-size: large;
  margin-left: 45px;
  color: black;
  border: none;
  text-decoration: none;
}
