.sidebar {
  width: 15vw;
  height: 92vh;
  padding: 16px;
  background: white;
  border: 1px solid grey;
}

.sidebar-title {
  font-size: large;
}

.menu-choices {
  font-size: medium;
  color: black;
  border: none;
  text-decoration: none;
}
